:root {
    --bg: #DBD5B5;
    --text: #c5bc87;
}

body {
    margin: 0;
    padding: 0;
}

.screen {
    height: 100vh;
    width: 100vw;

    background-color: var(--bg);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.8s ease;
}

.track {
    font-size: clamp(2rem, 8vw, 10rem);
    color: var(--text);
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;
    z-index: 0;
    width: 70vw;

    transition: color 0.8s ease;
}

.record {
    z-index: 1;
    position: absolute;
    left: 35%;
    top: 20%;
    width: 30%;
    aspect-ratio: 1;
    border-radius: 50%;
    
    background: /* Disc type lookkk*/
        conic-gradient(from 0deg,
            transparent 0deg, rgba(255,255,255,.18) 40deg, transparent 90deg,
            transparent 180deg, rgba(255,255,255,.18) 220deg, transparent 270deg),

        repeating-radial-gradient(circle,
            rgba(0,0,0,.07) 0 1px, transparent 1px 4px),
            color-mix(in srgb, var(--text) 30%, var(--bg));

    display: flex;
    justify-content: center;
    align-items: center;
    
    animation: spin 8s linear infinite;
    animation-play-state: paused;
}

.record .label {
    width: 66%;
    height: 66%;
    border-radius: 50%;
    border: 3px solid #111;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: inset 0 0 0 4px #111, inset 0 0 0 7px #eee;

    transition: background-image 0.5 ease;
}

.record.playing {
    animation-play-state: running;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}